.home_header{
    display: flex;
    gap: 15vw;
    align-items: center;
    padding: 2vh 10vw 2vh 10vw;
    position: fixed;
    z-index: 999999;
    background-color: rgb(255, 255, 255);
    width: 100%;

}
.home_header_name{
    font-size: 20px;
}
.navigation__desktop{
    display: flex;
    gap: 3vw;
    font-family: sans-serif;
    font-size: 18px;


}

@media (width <= 742px) {
    .home_header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vh 5vw 2vh 5vw;
        box-sizing: border-box;
        position: fixed;
        z-index: 999999;
        background-color: rgb(255, 255, 255);
        width: 100%;
    
    }
    .home_header_name{
        font-size: 20px;
    }
    .navigation__desktop{
        display: flex;
        gap: 3vw;
        font-family: sans-serif;
    }  
    .home_header_menu-ico{
        font-size: 22px;
    }
}