.home_header{
    display: flex;
    gap: 15vw;
    align-items: center;
    padding: 2vh 10vw 2vh 10vw;
    position: fixed;
    z-index: 999999;
    background-color: rgb(255, 255, 255);
    width: 100%;

}
.home_header_name{
    font-size: 24px;
}
.navigation__desktop{
    display: flex;
    gap: 3vw;
    font-family: sans-serif;

}