.home {
    font-family: sans-serif;
}

.hero {
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

.hero_slogan {
    font-size: calc(6vw + 5vh);
    z-index: 9;
    position: relative;
    padding: 10vw;
    margin-top: 20vh;
    line-height: 50px;
    color: rgb(108, 171, 235);


}

.hero_qm {
    color: rgba(255, 255, 255, 0.904);
}

.hero_sp {
    margin-top: 5px;
    color: rgb(255, 170, 222);
    line-height: 60px;
}

.hero_btn {
  position: absolute;
  top: 75vh;
  z-index: 2;
  left: 10vw;
  font-size: 30px;
  padding: 15px;
  background-color: rgba(230, 230, 230, 0.814);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 50px;
  margin: 0 25vw;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px 1px rgba(241, 238, 238, 0.376);

}

.hero_img {
    width: 100%;
    position: absolute;
    bottom: 0;
    animation: spin 13s infinite alternate;
}

@keyframes spin {
    from {
        width: 100%;
    }

    to {
        width: 110%;
    }
}