.memberships {
    position: relative;
    background-color: #ffffff;
    padding-bottom: 20vh;
}

@media (width < 742px) {

    .memberships_img-container {
        width: 100%;
        overflow: hidden;
        position: sticky;
        top: 50vh;
    }

    .memberships_drippy {
        width: 100%;
        animation: drip 10s infinite alternate;
        position: sticky;
        transition: ease-in-out 2s;
        top: 50vh;
        margin: auto;
        left: 0;
        right: 0;

    }

    @keyframes drip {
        from {
            width: 100%;

        }

        to {
            width: 130%;
        }
    }

    .memberships_head {
        text-align: center;
        font-size: calc(2vw + 4vh);

        color: rgb(0, 0, 0);
        margin-bottom: 5px;
    }

    .memberships_subhead {
        text-align: center;
        font-size: calc(2.5vw + 2vh);
        margin-bottom: 5vh;
        opacity: .7;
        color: rgb(245, 120, 195);

    }

    .memberships_padding {
        margin-top: -15vh;
        padding: 5vh 5vw;
        position: relative;

    }

    .membership-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4vh 0;

    }

    .membership-top,
    .membership-bottom {
        width: 90vw;
        background-color: #f9f6e6;
        padding: 35px 30px;

        /* border: 1px solid rgba(174, 174, 174, 0.341); */
    }

    .membership-top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
    }

    .membership-bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        margin-top: 1.5px;
        font-size: 1.2rem;



    }

    .membership-bottom h3 {
        font-size: 1rem;
    }

    .membership-bottom li {
        margin-left: 20px;
        padding: 5px 0;
        font-size: 1rem;
        list-style: decimal;
    }


    .membership-subprice {
        font-size: .8rem;
        opacity: .6;
        color: rgb(77, 74, 74);
        margin-top: -10px;
    }


    .membership_main-btn {
        background-color: rgb(10, 9, 9);
        border: none;
        color: rgb(255, 255, 255);
        padding: 17px 15px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 25px;
        margin-top: 15px;
    }


    .membership_second-btn {
        background-color: transparent;
        border: none;
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        border-bottom: 1px dashed black;
        width: fit-content;
        opacity: .8;
    }

}

@media (width >=742px) {
    .memberships_img-container {
        width: 100%;
        overflow: hidden;
        top: 25vh;
        position: sticky;
        transform: rotate(180deg);
    }

    .memberships_drippy {
        width: 100%;
        animation: drip 8s infinite alternate;
        position: sticky;
        margin: auto;
        left: 0;
        right: 0;

    }
/* 
    @keyframes drip {
        from {
            width: 100%;

        }

        to {
            width: 105%;
        }
    } */

    .memberships_padding {
        margin-top: -15vh;
        padding: 5vh 5vw;
        position: relative;

    }

    .memberships_head {
        text-align: center;
        font-size: calc(2vw + 4vh);
        color: rgb(0, 0, 0);
        margin-bottom: 25px;
    }

    .memberships_subhead {
        text-align: center;
        font-size: calc(1.5vw + 2vh);
        margin-bottom: 5vh;
        opacity: .7;
        color: rgb(255, 168, 220);

    }

    .memberships_flexbox {
        display: flex;
        justify-content: center;
    }

    .membership-container {
        display: flex;
        flex-direction: column;
        align-items: top;
        margin: 4vh 0;
        box-sizing: border-box;
        border: 2px solid white;
    }

    .membership-top,
    .membership-bottom {
        width: 17.5vw;
        min-width: 240px;
        background-color: #f9f6e6;
        padding: 35px 30px;
        box-sizing: border-box;



        /* border: 1px solid rgba(174, 174, 174, 0.341); */
    }

    .membership-top {
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        height: 50vh;
        min-height: 450px;

    }

    .membership-bottom {
        display: flex;
        flex-direction: column;
        gap: 15px;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        font-size: 1.2rem;
        height: 38vh;
        border-top: 2px solid white;
        min-height: 350px;



    }



    .membership_main-btn {
        background-color: rgb(10, 9, 9);
        border: none;
        color: rgb(255, 255, 255);
        padding: 25px 15px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 25px;
        margin-top: 15px;
    }


    .membership_second-btn {
        background-color: transparent;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        /* border-bottom: 1px dashed black; */
        opacity: .8;
        text-align: center;
        margin: 15px 0;

    }

    .membership-subheading{
        height: 10px;
    }

    .membership-bottom h3 {
        font-size: 1.2rem;
    }

    .membership-bottom li {
        margin-left: 20px;
        padding: 5px 0;
        font-size: 1.2rem;
        list-style: decimal;
    }

    .membership-price {
        margin-top: 70px;
    }

    .membership-subprice {
        font-size: 1rem;
        opacity: .6;
        color: rgb(77, 74, 74);
        margin-top: -10px;
    }

}